server:
  port: 8080
  forward-headers-strategy: native

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://db:5432/sudoku_coop}
    username: ${DB_USERNAME:sudoku_user}
    password: ${DB_PASSWORD:sudoku_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    jwt:
      secret: ${JWT_SECRET}
